# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

C:\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

### Step 2. Create a data dictionary that looks like the DataFrame below

In [5]:
raw_data={"evolution":["ivysaur","Charmeleon","Wartortle","Metapod"],"hp":[45,39,44,45],"name":["Bulbasaur",
          "Charmander","Squirtle","Caterpie"],"pokedox":["yes","no","yes","no"],"type":["grass","fire","water","bug"]}

### Step 3. Assign it to a variable called pokemon

In [6]:
pokemon=pd.DataFrame(raw_data)
pokemon.head()

    evolution  hp        name pokedox   type
0     ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [7]:
pokemon=pokemon[["name","type","hp","evolution","pokedox"]]
pokemon

         name   type  hp   evolution pokedox
0   Bulbasaur  grass  45     ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
pokemon["place"]=["New York","Los Angels","Mexico","London"]
pokemon

         name   type  hp   evolution pokedox       place
0   Bulbasaur  grass  45     ivysaur     yes    New York
1  Charmander   fire  39  Charmeleon      no  Los Angels
2    Squirtle  water  44   Wartortle     yes      Mexico
3    Caterpie    bug  45     Metapod      no      London

### Step 6. Present the type of each column

In [10]:
col=pokemon.columns
for item in col:
    print(item," : ",type(item))

name  :  <class 'str'>
type  :  <class 'str'>
hp  :  <class 'str'>
evolution  :  <class 'str'>
pokedox  :  <class 'str'>
place  :  <class 'str'>

In [11]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       4 non-null      object
 1   type       4 non-null      object
 2   hp         4 non-null      int64
 3   evolution  4 non-null      object
 4   pokedox    4 non-null      object
 5   place      4 non-null      object
dtypes: int64(1), object(5)
memory usage: 320.0+ bytes

In [12]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedox      object
place        object
dtype: object

### BONUS: Create your own question and answer it.