# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")

### Step 4. How many products cost more than $10.00?

In [10]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

In [11]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [20]:
chipo[~(chipo['item_price'] < 10)]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,39.0
1,1,1,Izze,[Clementine],39.0
2,1,1,Nantucket Nectar,[Apple],39.0
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,39.0
6,3,1,Side of Chips,NaN,69.0
...,...,...,...,...,...
4614,1831,1,Bottled Water,NaN,50.0
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",75.0
4616,1832,1,Chips and Guacamole,NaN,45.0
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",75.0
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",75.0

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [21]:
chipo[['item_name','item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa       39.00
1                                      Izze       39.00
2                          Nantucket Nectar       39.00
3     Chips and Tomatillo-Green Chili Salsa       39.00
4                              Chicken Bowl        0.98
...                                     ...         ...
4617                          Steak Burrito        0.75
4618                          Steak Burrito        0.75
4619                     Chicken Salad Bowl        0.25
4620                     Chicken Salad Bowl       75.00
4621                     Chicken Salad Bowl       75.00

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [24]:
chipo.sort_values(['item_name','item_price'],ascending=False)

,order_id,quantity,item_name,choice_description,item_price
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",75.00
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",75.00
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",49.00
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",49.00
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",0.98
...,...,...,...,...,...
4363,1742,1,6 Pack Soft Drink,[Diet Coke],49.00
4522,1798,1,6 Pack Soft Drink,[Diet Coke],49.00
4527,1800,1,6 Pack Soft Drink,[Diet Coke],49.00
4535,1803,1,6 Pack Soft Drink,[Lemonade],49.00
3389,1360,2,6 Pack Soft Drink,[Diet Coke],0.98

### Step 7. What was the quantity of the most expensive item ordered?

In [25]:
chipo['item_price'].max()

99.0

In [28]:
chipo[chipo['item_price']==99.0]['quantity'].max()

1

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [30]:
len(chipo[chipo['item_name']=='Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [31]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [33]:
len(chipo[(chipo['item_name'] =='Canned Soda') & (chipo['quantity'] >1)])

20